.checkout_screen {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkout_form {
  width: 400px;
  box-shadow: 0 0 5px 2px rgba(211, 211, 211, 0.76);
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.checkout_form_field {
  width: 100%;
  padding: 5px 10px;
  margin: 15px 0;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 2px rgba(134, 134, 134, 0.473);
  min-height: 35px;
  color: grey;
}
.checkout_form_addressfield {
  height: 80px;
  padding: 10px;
}
.checkout_screen_chbtn {
  width: 100%;
  height: 40px;
  color: white;
  background: linear-gradient(90deg, #e41111, #d76767);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 15px 0;
  border: none;
  cursor: pointer;
}
.checkout_form_heading {
  width: 100%;
  text-align: center;
  color: #d76767;
  font-weight: 400;
  margin-bottom: 10px;
}
.checkout_form_orderplaced {
  font-size: 40px;
  color: rgb(161, 161, 161);
}
@media (max-width: 414px) {
  .checkout_form {
    width: 98%;
  }
}
